/* Login.css */

/* Apply the background image to the whole page */
body {
  background: url('./login.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

/* Container styles */
.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

.forgot-password-btn {
  text-decoration: underline;
  color: #e5aa24;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

.button-3d {
  background-color: #e5aa24;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px;
  font-size: 17px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

.button-3d:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.button-3d:active {
  transform: translateY(10px);
}

/* Adjust styles for screens with a maximum width of 768px (tablets) */
@media (max-width: 768px) {
  .login-container {
    margin: 50px auto;
    padding: 10px;
    max-width: 100%;
  }

  h1 {
    font-size: 20px;
  }

  input {
    font-size: 12px;
  }
}

/* Adjust styles for screens with a maximum width of 480px (mobile phones) */
@media (max-width: 480px) {
  .login-container {
    margin: 30px auto;
    padding: 10px;
    max-width: 100%;
  }

  h1 {
    font-size: 18px;
  }

  input {
    font-size: 12px;
  }
}
