/* Navbar.css */

/* Navbar container styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% transparency */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left:7cm ;
  }

/* Navigation links styles */
.nav-links {
    display: flex;
    gap: 20px;
    font-weight: bold;
    margin-right: 16cm;
    font-style: italic;
  }

.nav-links a {
    text-decoration: dashed;
    color: #1d1d1f;
    transition: color 0.3s;
  }

.nav-links a:hover {
    color: #fbc531; /* Change color on hover */
  }

/* Try for FREE button and Login link styles */
.try-login {
    display: flex;
    align-items: center; /* Center vertically */
    margin-right:6cm;
    font-weight: bold;
    font-style: italic;
    
  }

.try-login a {
    text-decoration: dashed;
    color: #1d1d1f;
    transition: color 0.2s;
    margin-right:1cm
  }

.try-login a:hover {
    color: #fbc531; /* Change color on hover */
  }

.try-button {
    background-color: #222529;
    color: #fff;
    padding: 8px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin-right: 1cm; /* Add space between Login and Try for FREE */
    font-style: italic;
    
    /* 3D design effect */
    box-shadow: 0px 2px 0px #000, 0px 6px 0px #000, 0px 12px 0px #000;
    transition: transform 0.2s;
  }

.try-button:hover {
    transform: translateY(2px);
  }



/* Media queries for responsiveness */
@media (max-width: 480px) {
    .navbar {
      flex-direction: column;
    }

    .logo {
      text-align: center;
      margin-bottom: 10px;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .nav-links a {
      display: block;
    }

    .try-login {
      text-align: center;
      margin-top: 10px;
    }
  }
